# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
env/
venv/

# PyCharm project files
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Test or temp output
*.log
*.tmp
*.swp

# Notebook checkpoint files
.ipynb_checkpoints/

# Ignore images/output unless you want to track them
*.png
*.jpg
*.jpeg
